/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-color: #f1ecea;
    color: white;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 5px 5px;
}

/* Selector de Clases */
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 25px 25px;
    color: white;
}
.encabezado {
    color: white;
    background-color: #3a251c;
    margin: 1em;
    padding: 0px 50px;
    text-align: center;
}
.barraNavegacion {
    background-color: #b46424;
    margin: 1em;
    border-radius: 5px;
}

.encabezado-articulo {
    padding: 18px;
    text-align: center;
    background-color: #3a251c;
    color: rgb(255, 255, 255);
    margin: 1em 4em;
    border-radius: 75px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    color: white;
    margin: 1em 1em;
    border-radius: 45px;
    
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 25px 25px;
}

.lista-aside {
    padding: 10px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: white;
}
.subrayado{
    text-decoration: underline;
    color: white;
}
.viñeta{
    color: white;
}

/* Selector Id */
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: #3a251c;
    max-width: 0 auto;
    border-radius: 5px;
}

#seccion {
    height: 75%;
    width: 58%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-table;
    border-radius: 5px;
    text-align: center;

}

#fueraSeccion {
    height: 75%;
    width: 35%;
    margin: 0.5em;
    background-color: #b58c7c;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}
#aside {
    height: 35%;
}
#pie h4 {
    padding: 15px;
    font-size: 30px;
}
#piepag{
    height: 10%;
}
#cabecera{
    width: 30%;
}
#barraNav{
    height: 5%;
}

/* Selector de Etiqueta */

ul {
    padding: 7px;
    font-size: 30px;
}

li {
    display: inline;
    margin: 5px;
    padding: 0px 40px;
    text-align: center;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

pie {
    background-color: #3a251c;
    margin: 0.5em;
    text-align: center;
    padding: 5px;
}