/* Estilos para la pagina del ciclo del agua 
*/

/* Selector Universal */
*{

    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body{
    background-color: #e6edd9;
    color: white;
}

/* Selector de clase */

.img{
    width: 500px;
    height: 300px;
    border-radius: 1px;
    padding: 5px;
    justify-items: center;
}   

.img2{
    width: 120px;
    height: 150px;
    justify-items: center;
    border-radius: 1px;
    padding: 5px;
}

.texto{
    text-align: justify;
    font-family: Tahoma;
    font-size: 30px;
    padding: 5px 25px;
    color: #000;
    font-size: 15px;
}
.texto2{
    font-family: Tahoma;
    color: white;
    padding: 5px 25px;
    text-align: justify;
    
    
}

.encabezado-letra{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.colortextmenu{
    color: aliceblue;
    font-size: 30px;
}

.encabezado-articulo{
padding: 10px;
text-align: center;
background-color: #e1ad01;
color: black;
margin: 1em 2em;
border-radius: 5px;
font-size: 30px;

}

.encabezado-aside{
    text-align: center;
    color: #004999;
    font-size: 25px;
    margin: 1em 1em;

}

.menu-aside{

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;

}

.lista-aside{
    padding: 10px;
}

.lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 2px;
    list-style: square;
    background-color: #000;

}

/* selector ID */
#contenedor{

    width: 1400px;
    height: 2000px;
    background-color: #004d98;
    max-width: 0 auto;
    border-radius: 5px;

}
#encabezado{

    width: 60%;
    background-color: #a50044;
    margin: 2em;
    padding: 20px 50px;
    border-radius: 5px;
    
}

#menu{
    height: 6.5%;
    background-color: #a50044;
    margin: 2em;
    border-radius: 5px;
    text-align: center;
}   
#contenido{
    height: 60%;
    width: 58%;
    background-color: white;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
#fueraSeccion{
    height: 60%;
    width: 35%;
    background-color: #8DC3FF;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;

}
#pie{
    background-color: #a50044;
    margin: 2em;
    text-align: center;
    padding: 5px;
    height: 100px;
    

}
#pie h4{

    padding: 15px;
    font-size: 30px;
}
/* Selector de etiqueta */
ul{
    padding: 15px;
    font-size: 20px;

}

li{
    display: inline;
    padding: 10px 40px;
    margin: 3em;

}
/* Selector de evento */
li a:hover{
    color: blue;
    text-decoration: none;
    list-style: none;
}
